.diceng{
	width: 1600px;
	height: 600px;
	background-image: url(./17.png);
}
.diceng-top{
	width: 1600px;
	height: 60px;
	padding-top: 30px;
}
.diceng-top-fuben{
	width: 600px;
	height: 60px;
}
.diceng-top-line{
	border-style: solid;
	height: 2px;
	border-left-color: #192c3b;
	border-right-color: #192c3b;
	border-top-color: #c8cccf;
	border-bottom-color: #c8cccf;
	width: 200px;
	float: left;
	margin-top: 10px;
}
.diceng-top-center{
	color: #c8cccf;
	width: 105px;
	font-size: 20px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.diceng-center{
	color: #c8cccf;
	width: 600px;
	height: 50px;
	text-align: center;

}
.bottom{
	width: 1600px;
	height: 350px;
	margin-top: 100px;
}
.bottom-left{
	width: 800px;
	height: 350px;
	float: left;
}
.bottom-left-1{
	width: 500px;
	height: 40px;   
    margin-right: 10px;
}
.bottom-left-1 input{
	background-color: #162432;
	color: #8b9299;
	border:none;
	height: 40px;
	width: 200px;
	margin-right: 20px;
}
.bottom-left-2{
	width: 500px;
	margin-right: 10px;
}
.bottom-left-2 input{
	background-color: #162432;
	color: #8b9299;
	border:none;
	width: 430px;
	height: 200px;
	margin-top: 10px;
}
.bottom-left-3{
	width: 500px;
	height: 40px;
	margin-top: 30px;
	margin-right: 10px;
}
.bottom-left-3-1{
	background-color: #0bc7b4;
	width: 200px;
	height: 40px;
	float:left;
	color: white;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
}
.bottom-right{
	width: 418px;
	height: 215px;
	float: left;
	background-image: url(./21.png);
}
.bottom-right-1 li{
	list-style: none;
}
.bottom-right-1{
	width: 200px;
	height: 200px;
	float: left;
}
.bottom-right-list{
	width: 200px;
	height: 50px;
	margin-top: 10px;
}
.bottom-right-img{
	width: 50px;
	height: 50px;
	float: left;
}
.bottom-right-list-1{
	width: 150px;
	height: 50px;
	float: left;
	color: #0eb8a7;
}
.bottom-right-2{
	width: 200px;
	height: 200px;
	float: left;
}
.bottom-right-2 li{
	list-style: none;
}
.bottom-right-2-list-1{
	width: 200px;
	height: 50px;
}
.bottom-right-2-list-1 div{
	width: 200px;
	height: 25px;
	color: #879198;
}
.bottom-right-2-list-2{
	width: 200px;
	height: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.bottom-right-2-list-2 div{
	width: 200px;
	height: 25px;
	color: #879198;
}
.bottom-right-2-list-3{
	width: 200px;
	height: 75px;
}
.bottom-right-2-list-3 div{
	width: 200px;
	height: 25px;
	color: #879198;
}